<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.by.framework">

    <application
        android:name=".core.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialDesign">
        <activity android:name=".simple.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".simple.LoginActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".simple.HomeActivity"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTask"/>
        <activity android:name=".simple.ProfileActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".simple.SimpleListActivity"
                   android:screenOrientation="portrait"/>
        <activity android:name=".simple.sampleTabActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".simple.Home1Activity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity android:name=".simple.SampleListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".simple.SampleSectionListActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>